.btn {
  &,
  &:visited,
  &:link {
    position: relative;
    display: inline-block;
    padding: 1.5rem 4rem;
    text-decoration: none;
    transition: all 0.2s;
    animation-fill-mode: backwards;
    border: none;
    cursor: pointer;
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
  }

  &:hover {
    box-shadow: 0px 1rem 2rem rgba($color-black, 0.2);
    transform: translateY(-0.3rem);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    transform: translateY(-0.1rem);
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    z-index: -1;
    border-radius: 10rem;
    transition: all 0.4s;
  }

  &--white {
    background-color: $color-white;
    color: $color-grey;
    border-radius: 10rem;
    text-transform: uppercase;
    transition: all 0.2s;

    &::after {
      background-color: $color-white;
    }
  }

  &--green {
    background-color: $color-primary;
    color: $color-white;
    border-radius: 10rem;
    text-transform: uppercase;
    transition: all 0.2s;

    &::after {
      background-color: $color-primary;
    }
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    display: inline-block;
    color: $color-primary;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    transition: all 0.2s;
    text-decoration: none;
  }

  &:hover {
    transform: translateY(-3px);
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }

  &:active {
    transform: translateY(2px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }
}
